project/project
project/target
target
application.conf
.metals/metals.h2.db
.metals/metals.lock.db
.metals/metals.log
.DS_Store
src/test/resources/*
.idea/
.bsp/sbt.json
resources.tar
node_modules
.bloop
sam-local.yml
.metals/*
.vscode/settings.json
scripts/finance-event.json
scripts/finance.sh
package.yml
finance-api/src/test/resources/transactions
project/metals.sbt
sam/env.json
authorizer/dist/index.js